<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>
  table {
    border-collapse: collapse;
    width: 100%;
  }

  th,
  td {
    text-align: left;
    padding: 8px;
  }

  .completed {
    background-color: #d4edda;
    /* light green */
    color: #155724;
  }

  .chip-container {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin: 12px 0;
}

.custom-chip {
  display: inline-flex;
  align-items: center;
  background-color: #e0e0e0;
  border-radius: 16px;
  padding: 4px 10px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.custom-chip:hover {
  background-color: #ccc;
}

.remove-icon {
  margin-left: 8px;
  font-weight: bold;
  cursor: pointer;
}
</style>

<main class="main">
  <div>

    <h1>Todo List</h1>
    <button (click)="addTaskDialog()">Add Task</button>
    <table>
      <thead>
        <tr>
          <th>
            Task Name
          </th>
          <th>
            Description
          </th>
          <th>
            Tags
          </th>
          <th>
            Action
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of tasks" [class.completed]="item.completed">
          <td>
            {{ item.tittle }}
          </td>
          <td>
            {{ item.description }}
          </td>
          <td>
            <div class="chip-container">
              <span *ngFor="let tag of item.tags" class="custom-chip" (click)="onTagClick(item.id)">
                {{ tag }}
              </span>
            </div>
          </td>
          <td>
            <button (click)="setCompleted(item.id)">Edit tags</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</main>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<router-outlet />